.searchBar {
    width: 95%;
    display: block;
    margin: auto;
    background-color: rgb(224, 241, 195);
    border: 2px solid green;
    border-radius: 20px;
    height: 40px;
    color: black;
    margin-bottom: 10px;
    padding-left: 10px;
    /* margin-top: 10px; */
  }

.searchBar:focus{
    outline: none
}

.itemsContainer{
    background-color: #74b504b6;
    border-radius: 20px;
    /* padding-top: 20px; */
    height: 80vh
}