.App {
  text-align: center;
  display: grid;
  width: 100%;
  height: 100%;

}

.App-link {
  color: #61dafb;
  text-decoration: underline;
}

.signUp{
  display: grid;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    font-weight: bold;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}